{% block content %}
{% include "header.html" %}

<div class="container">
    <div class="col-lg-8 col-md-10 mt-4 mb-5 mx-auto">

        <div class="row g-0">
            <div class="col-md-1">
                <a href="{{url_for('tasks_today')}}">
                    <img src="static/assets/images/edit.png" class="img-fluid mb-3"
                         alt="https://www.flaticon.com/free-animated-icons/tick">
                </a>
            </div>
        </div>


        <form action="{{ url_for('edit_task') }}" method="POST">
            <div class="input-group mb-3">
                <input hidden="hidden" name="id" value="{{task.id}}">
                <input name="task" type="text" class="form-control" placeholder={{task.task}} aria-label="">
                <button type="submit"
                        class="btn btn-outline-success">EDIT
                </button>
            </div>
        </form>


    </div>
</div>


{% include "footer.html" %}
{% endblock %}
