{% include "header.html" %}

<body>
<div class="container px-4 py-5" id="custom-cards">

    <div class="card mb-5 mt-5 mx-auto" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="static/assets/images/notebook2.gif" class="img-fluid rounded-start"
                     alt="https://www.flaticon.com/free-animated-icons/writing">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">TO-DO-LIST</h5>
                    <p class="card-text">Your short-term Planning List. Log in to store your plans.</p>

                    {% if not current_user.is_authenticated: %}

                    <a href="{{ url_for('login') }}" class="btn btn-primary">Create my LIST</a>

                    {% else %}

                    <a href="{{ url_for('tasks_today') }}" class="btn btn-primary">Create my LIST</a>

                    {% endif %}

                </div>
                <div class="mt-5">
                 <img src="static/assets/images/footprint.gif" class="img-fluid rounded-start"
                        alt="https://www.flaticon.com/free-animated-icons/steps">
                    </div>
            </div>

        </div>

    </div>


</div>
</body>

{% include "footer.html" %}